node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.next
.vercel

.env*
.DS_Store
*.pem

coverage
.nyc_output

.git
.gitignore
README.md
README_OLD.md

helm
docker-compose.yml
prisma
sql
*-old.*
